.container__project {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.container__project h2 {
  padding-bottom: 2rem;
}
