.container__about {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem 5rem 2rem;
}
.container__about--cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__about--card {
  align-items: center;
  padding: 0rem 0rem 4rem 0rem;
}
.container__about--card h2 {
  padding-bottom: 2rem;
}

.container__about--card .photo {
  border: 3px solid white;
  border-radius: 50%;
  width: 60%;
  margin: 0rem 0rem 2rem 0rem;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

@media (min-width: 840px) {
  .container__about {
    width: 50%;
    padding: 2rem 0rem 5rem 0rem;
  }

  .container__about--cards {
    flex-direction: row;
    justify-content: space-between;
  }

  .container__about--card {
    width: 45%;
  }
}

.icon {
  width: 1rem;
  margin: 0rem 0.3rem -0.1rem 0rem;
}
