@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.container {
  background-color: #81b69d;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  background-color: #fdcf76;
}

nav a {
  margin: 10px;
}

.cards_container {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
}

.card_person {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card_person img {
  border: 3px solid white;
  border-radius: 50%;
  width: 50%;
}

/* nechápem, prečo border-radius: 50% nerobí guľatý ten obrázok */

.card_project {
  display: block;
  text-align: center;
}

.project_text {
  padding: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* potrebovala by som, aby bol ten text viac v kocke, takto je rozpliznuty... upravis? */

footer {
  display: flex;
  justify-content: space-between;
  text-align: right;
  line-height: 1.5;
  font-weight: normal;
  background-color: #fdcf76;
  padding: 10px 5px;
  margin: 0;
}

.odkazy li {
  display: block;
}

.odkazy a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 10px 5px;
}

.odkazy {
  margin: 0;
  padding: 0;
}

.odkaz a:hover,
.odkaz a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.card_contact {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.author_contact {
  padding: 20px 10px;
  justify-content: center;
}
