@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 1.7rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container {
  margin: auto;
  background-color: #81b69d;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #81b69d;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #fdcf76;
}

nav a {
  padding: 1rem;
  font-weight: bold;
}

nav a:hover {
  color: #81b69d;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdcf76;
  padding: 2rem;
}
